*, *::before, *::before{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 2rem;
}

nav{
    width:100;
    background: deeppink;
    display: flex;
    justify-content: space-between;
    height: 7rem;
}

.list{
    display: flex;
    list-style: none;
    gap:2rem;
}

/* img{
    width:20%;
    background: red;
    height:100%;
    display: block;
} */